doctype html
html
  head
    title Barath Kumar
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600')
    link(rel='stylesheet', href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
  body
    .app.flex-column
      .pages.flex-column.fill
        .page.flex-column.fill
          include resume
    script(type='text/javascript').
      try{ clicky.init(101020701); }catch(e){}
    noscript
      p
        img(alt='Clicky', width='1', height='1', src='//in.getclicky.com/101020701ns.gif')
