- var skills = ['Full stack development','Application/solution architecture','High performance application development','Devops','Node JS','Python','Java','Kotlin','Scala','Cutting edge front end development','Systems integration','RESTful development','Infrastructure design','Business intelligence','Custom reporting','Big data infrastructure']
.flex-column.fill.main-div
  .flex-row.flex-center.title Barath Kumar
  .flex-row.personal-info.flex-center.grey-text-light
    i.fa.fa-home
    .space-right 201 S Heights Blvd #2318 Houston TX 77007
    i.fa.fa-envelope.space-left
    a.space-right.grey-text-light(href='mailto:barathvk@gmail.com') barathvk@gmail.com
    i.fa.fa-phone.space-left
    | (346) 772 9055
  .flex-row.personal-info.flex-center.grey-text-light.mt
    i.fa.fa-link.space-left
    a.grey-text-light.space-right(href='http://resume.barath.ga') resume.barath.ga
    i.fa.fa-github.space-left
    a.grey-text-light.space-right(href='http://github.com/barathvk') barathvk
    i.fa.fa-file-pdf-o.space-left.web-only
    a.grey-text-light.web-only(href='/resume.pdf') resume
  .hr.fading
  .flex-row-flow.flex-center.grey-text-light.skills
    each skill in skills
      .flex-row.flex-center-align.skill
        i.fa.fa-circle.space-left.tiny
        | #{skill}
  .hr.fading
  .heading.flex-row.flex-center Professional Profile
  .hr.fading
  .flex-row.flex-center-align
    b.flex-4.space-right TechnipFMC / FMC Technologies &nbsp;
      i.grey-text (FTI - NYSE) &nbsp;
    .space-right.space-left
    .fill.flex-row.flex-center-align.space-left
      i.fa.fa-calendar
      i.grey-text Feb 2005 - Present
  .hr.fading
  .flex-row.flex-center-align.role
    i.fa.fa-dot-circle-o
    .flex-3
      | Systems Engineer, Engineering Infrastructure &nbsp;
      i.grey-text (Current position)
    i.fa.fa-map-marker
    .fill Houston TX
    .fill.flex-row.flex-center-align
      i.fa.fa-calendar
      i.grey-text.dates Mar 2016 - Present
  .flex-row.flex-center-align.role
    i.fa.fa-dot-circle-o
    .flex-3
      | Systems Engineer, Engineering Infrastructure &nbsp;
    i.fa.fa-map-marker
    .fill Edmonton, AB Canada
    .fill.flex-row.flex-center-align
      i.fa.fa-calendar
      i.grey-text.dates Nov 2013 - Mar 2016
  .flex-row.flex-center-align.role
    i.fa.fa-dot-circle-o
    .flex-3
      | Systems Engineer, Engineering Infrastructure &nbsp;
    i.fa.fa-map-marker
    .fill Houston TX
    .fill.flex-row.flex-center-align
      i.fa.fa-calendar
      i.grey-text.dates Jul 2008 - Nov 2013
  .flex-row.flex-center-align.role
    i.fa.fa-dot-circle-o
    .flex-3
      | Design Engineer &nbsp;
    i.fa.fa-map-marker
    .fill Dunfermline, Scotland
    .fill.flex-row.flex-center-align
      i.fa.fa-calendar
      i.grey-text.dates Feb 2007 - Jul 2008
  .flex-row.flex-center-align.role
    i.fa.fa-dot-circle-o
    .flex-3
      | Graduate Engineer &nbsp;
    i.fa.fa-map-marker
    .fill Dunfermline, Scotland
    .fill.flex-row.flex-center-align
      i.fa.fa-calendar
      i.grey-text.dates Feb 2005 - Feb 2007
  .hr.fading
  b.flex-row.flex-center.grey-text
    i.fa.fa-rocket
    | Select Projects
  .hr.fading
  .flex-row.flex-center-align.mt.mb.proj-title
    .flex-row.flex-center-align.flex-4.mr
      i.fa.fa-bolt
      b.italics Requirements Management Reporting and Analytics System
    .ml.mr
    .ml.mr
    .ml.mr
    .ml.mr
    .flex-row.flex-center-align.fill.ml
      i.fa.fa-calendar
      i.grey-text May 2015 - Present
  .flex-row.flex-center-align.mt.mb.ml.mr
    span Developed a <b>self serve reporting and analytics system</b> for <b>Requirements Management</b>. The project includes deep integrations with <b>Teamcenter</b> and <b>Oracle Primavera P6</b> to produce complex ad hoc reports and analytics for a base of <b>12000 users</b> (soon to be 34000 users)
  .flex-row.mt
    .flex-column.fill
      b.ml.mb
        i.fa.fa-lightbulb-o
        | Highlights
      ul.fill
        li Developed a reporting system as no suitable alternative exists
        li Reduced reporting time from <b>40 minutes</b> at Proof of Concept to under <b>3 seconds</b> at production deployment
        li <b>Greenfield development</b> from scratch
        li Gathered requirements from a global team of users
        li Obtained consensus on design decisions from key stakeholders on technical and process design
        li Developed all specifications for the project
        li Designed and implemented all stages of the SDLC
        li Performed a study on development tools for future developments and provisioned all self hosted infrastructure using this project as a pilot for all future development by the Engineering Infrastructure team
        li Demonstrated the development pipeline to the rest of the team and provided training on current best practices for software development
        li The full team is moving towards the usage of an identical pipeline for all future development
        li Learnt to develop in <b>3 programming languages</b> during the course of the project
        li <b>Sole developer and architect for the project</b>
    .bl
    .fill
      b.ml.mb
        i.fa.fa-flask
        | Technology Stack
      i.flex-row.indent.mt Back End
      ul.fill
        li RESTful services with <b>Kotlin</b> integrating with <b>Teamcenter</b> and <b>Oracle Primavera P6</b>
        li <b>Node.js</B> RESTful services and real time sockets for indexing to <b>Elasticsearch</b> and a <b>graph database</b>
        li <b>Elasticsearch</b> for search
        li <b>Graph database</b> for relationships
        li <b>NoSQL database</b> for other application data
        li <b>GraphQL</b> for data retrieval from Elasticsearch and the graph database
      i.flex-row.indent.mt Front End
      ul.fill
        li <b>React</b> based <b>single page web application</b> (SPA)
        li ES6 syntax
        li <b>Babel</b> and <b>Webpack</b> for transpiling to ES5
        li <b>MobX</b> for state management
        li <b>Sass</b> for global styles
      i.flex-row.indent.mt DevOps
      ul.fill
        li <b>Git</b> for source control
        li <b>Gitlab</b> for git web ui, issue management, documentation, and project management
        li <b>Jenkins</b> for continuous integration
        li <b>Docker</b> for deployment
        li <b>Rancher</b> for service discovery and orchestration
  .hr.fading
  .page-break
  .flex-row.flex-center-align.mt.mb.proj-title
    .flex-row.flex-center-align.flex-4.mr
      i.fa.fa-bolt
      b.italics Teamcenter Self Serve Analytics System
    .ml.mr
    .ml.mr
    .ml.mr
    .ml.mr
    .flex-row.flex-center-align.fill.ml
      i.fa.fa-calendar
      i.grey-text Mar 2008 - Jun 2009
  .flex-row.flex-center-align.mt.mb.ml.mr
    span Developed a <b>self serve analytics system</b> for Teamcenter. The project involved <b>extraction, transformation and load</b> of heavy engineering data from <b>7 federated instances of Teamcenter</b> into an <b>SQL server</b>, processing through SSIS into an SSAS server to provide key metrics for engineering management throughout the company. The system is still in use and is considered a <b>core application</b> for the company.
  .flex-row.mt
    .flex-column.fill
      b.ml.mb
        i.fa.fa-lightbulb-o
        | Highlights
      ul.fill
        li Aggregates data from <b>7 Teamcenter instances</b>
        li Makes heavy use of the <b>Teamcenter SOA REST services</b>
        li Serves <b>14000 users</b>
        li Allows for <b>ad hoc analytics</b> to answer users' questions rather than provide post mortem metrics
        li Provides a familiar front end for users via <b>Microsoft Excel</b> with live data
        li Repository to hold management metrics for retrieval
        li <b>Considered a core application for the company</b>
        li Has been deployed in production for <b>over 6 years</b> with minimal maintenance and intervention
        li <b>Sole developer and architect for the project</b>
    .bl
    .fill
      b.ml.mb
        i.fa.fa-flask
        | Technology Stack
      i.flex-row.indent.mt Back End
      ul.fill
        li Connects to <b>Teamcenter SOA services</b> via Java
        li <b>Node.js</b> based ETL pipeline to an <b>MSSQL server</b>
        li <b>SSIS</b> for manipulation of extracted data
        li <b>SSAS</b> for aggregation of SSIS data
      i.flex-row.indent.mt Front End
      ul.fill
        li <b>Microsoft Excel</b> with live connection to SSAS
      i.flex-row.indent.mt DevOps
      ul.fill
        li <b>Git</b> for source control
        li <b>Gitlab</b> for git web ui, issue management, documentation, and project management
        li <b>Jenkins</b> for performing a nightly extraction job
  .hr.fading
  .flex-row.flex-center-align.mt.mb.proj-title
    .flex-row.flex-center-align.flex-4.mr
      i.fa.fa-bolt
      b.italics Teamcenter Unified Architecture Customizations and Upgrade
    .ml.mr
    .ml.mr
    .ml.mr
    .ml.mr
    .flex-row.flex-center-align.fill.ml
      i.fa.fa-calendar
      i.grey-text Mar 2007 - Mar 2008
  .flex-row.flex-center-align.mt.mb.ml.mr
    span Developed <b>Teamcenter Rich Application Client</b> customizations based on <b>Eclipse Rich Client Platform</b> for use by <b>4000 engineers</b> globally
  .flex-row.mt
    .flex-column.fill
      b.ml.mb
        i.fa.fa-lightbulb-o
        | Highlights
      ul.fill
        li Learnt Java for the project
        li All customizations are still in use with minimal maintenace and intervention
        li Utilized many features of the Eclipse Rich Client Platform
        li Learnt the Teamcenter data model and architecture for the project
        li Designed and built the first CI/CD pipeline for the company
        li Modernized the SDLC by implementing distributed version control with Mercurial
    .bl
    .fill
      b.ml.mb
        i.fa.fa-flask
        | Technology Stack
      i.flex-row.indent.mt Back End
      ul.fill
        li Teamcenter v8.3 (Unified Architecture)
      i.flex-row.indent.mt Front End
      ul.fill
        li Eclipse Rich Client Platform (RCP)
      i.flex-row.indent.mt DevOps
      ul.fill
        li <b>Mercurial</b> for source control
        li <b>Jenkins</b> for <b>Maven</b> builds via <b>Tycho</b>
  .hr.fading
  b.flex-row.flex-center.grey-text
    i.fa.fa-rocket
    | Other Projects
  .hr.fading
  ul
    li.mb <b>Global Planning System: </b> Part of the core team to design and implement a global planning system for FMC Technologies based on Oracle Primavera P6
    li.mb <b>Knowledge Management: </b> Part of the core team to design and implement a knowledge management platform based on Sharepoint for FMC Technologies
    li.mb <b>Change Management System: </b> Designed and implemented an engineering change management system for FMC Technologies, UK
    li.mb <b>Subsea Equipment Design: </b> Designed subsea equipment including Tubing Hangers, Christmas Trees and Wellhead equipment for the Statoil Tyrihans, BP Block 18, and various other large subsea equipment projects
    li.mb <b>Graduate Training Program: </b> Recruited through the FMC Technologies graduate training program. Moved through various functions within the company to understand the business, including drafting with Unigraphics (NX), finite element analysis with Ansys, project management on the Statoil Tyrihans project, manufacturing and assembly, quality assurance and engineering design
    li.mb <b>American Petroleum Institute (API) training: </b> Attended a training course and received certification in the use of API 17D
    li.mb <b>Offshore Safety Course: </b> Attended and received certification in the Offshore Safety Course in Aberdeen, UK
  .hr.fading
  .heading.flex-row.flex-center Education
  .hr.fading
  .flex-row.flex-center-align.mt.mb
    .flex-row.flex-center-align.flex-3.mr
      i.fa.fa-graduation-cap
      b.italics Master of Science, Computer Aided Design
    .ml.mr
    .ml.mr
    .ml.mr
    .ml.mr
    .ml.mr
    .flex-row.flex-center-align.flex-2
      i.fa.fa-map-marker
      | University of Strathclyde, Glasgow
    .ml.mr
    .ml.mr
    .ml.mr
    .ml.mr
    .flex-row.flex-center-align.fill
      i.fa.fa-calendar
      i.grey-text 2002-2003
  ul.indent.mt
    li <b>Key Courses: </b> Product Design, Design Optimization, Design Management, Product Visualization, Systems Integration
    li <b>Thesis: </b> Design of a Non-Interfering Haptic Device for Teleoperation
    li <b>Group Project: </b> Drag Reduction of the BAE Bulldog Aircraft
  .hr.fading
  .flex-row.flex-center-align.mt.mb
    .flex-row.flex-center-align.flex-3.mr
      i.fa.fa-graduation-cap
      b.italics Bachelor of Engineering, Mechanical Engineering
    .ml.mr
    .ml.mr
    .ml.mr
    .flex-row.flex-center-align.flex-2
      i.fa.fa-map-marker
      | University of Mysore, India
    .flex-row.flex-center-align.fill.ml
      i.fa.fa-calendar
      i.grey-text 1997 - 2001
      .mr.ml
      .mr.ml
      .mr.ml
  ul.indent.mt
    li <b>Key Courses: </b> Engineering Graphics, Engineering Physics, Engineering Chemistry, Engineering Mathematics, Machine Design, Material Science, Thermodynamics
    li <b>Project: </b> Design of a Pick and Sort Mechanism for the Fanuc Robot LRMate 100i
  .hr.fading
  .heading.flex-row.flex-center Other Interests
  .hr.fading
  ul.indent.mt
    li <b>Quizzing: </b> Participated, won, and conducted several quizzes with unique themes. Part of the varsity quiz team representing the university and state in various literary events
    li <b>Trekking: </b> Participated 3 times in the National Himalayan Trekking Expedition by the Youth Hostels Association of India
    li <b>Scouting: </b> Awarded the President Scout award by the President of India
    li <b>Table Tennis: </b> Represented the University of Mysore at various state level tournaments in Table Tennis
